*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.main-title {
    margin-left: 35%;
    margin-top: 40px;
}

.line {
    height: 1px;
    background-color: rgba(26, 26, 26, 1);
    position: absolute;
    top: 89px;
    left: 70px;
    right: 70px;
    border: 1px solid #1A1A1A;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

li {
    list-style: none;
    padding: 10px;
    margin-left: 50px;
}

li a {
    display: block;
    text-decoration: none;
    color: #0c41ec;
    padding: 1em;
    position: relative;
    padding: 0 10px;
}

.cern-image {
    margin-left: 34%;
    margin-top: -200px;
    width: 300px;
    height: 250px;
}

.images-container {
    display: flex;
    justify-content: space-around;
}

.images-container div {
    display: flex;
    flex-direction: column;
}

.amazon-image {
    display: none;
}

.amazon-button {
    border-style: none;
    background-color: black;
    color: rgb(208, 157, 2);
    border-radius: 20px;
    cursor: pointer;
    padding: 1rem;
}

.tesla-image {
    width: 150px;
    height: 194px;
    display: none;
}

.tesla-button {
    border-style: none;
    background-color: rgb(172, 2, 2);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 1rem;
}

.twitter-image {
    height: 194px;
    display: none;
}

.twitter-button {
    border-style: none;
    background-color: #00acee;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 1rem;
}