@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.box-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.input-field {
  margin-right: 10px;
}

.result {
  margin-top: 20px;
  margin-left: 20px;
}

.operators {
  margin-left: 20px;
  margin-top: 20px;
}

.operators button {
  background-color: aqua;
  border-style: none;
  width: 70px;
  height: 70px;
}

.operators button:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}